.cardList {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
  gap: 40px 8px;
  padding: 40px 20px;

  //   margin-top: 0;
  //   margin-bottom: 0;
  //   padding: 0;
  //   list-style: none;
  //   margin-left: auto;
  //   margin-right: auto;
  // padding-top: 44px;
}
